[submodule "Algoritmi in Tehnike za Ucinkovito Resevanje Problemov"]
	path = Algoritmi in Tehnike za Ucinkovito Resevanje Problemov
	url = https://github.com/SimonPlazar/Algoritmi-in-Tehnike-za-Ucinkovito-Resevanje-Problemov.git
[submodule "Multimedija"]
	path = Multimedija
	url = https://github.com/SimonPlazar/Multimedija.git
[submodule "Snovanje Racunalniskih in Digitalnih Sistemov"]
	path = Snovanje Racunalniskih in Digitalnih Sistemov
	url = https://github.com/SimonPlazar/Snovanje-Racunalniskih-in-Digitalnih-Sistemov.git
[submodule "Preizkusanje Programske Opreme"]
	path = Preizkusanje Programske Opreme
	url = https://github.com/SimonPlazar/Preizkusanje-Programske-Opreme.git
[submodule "Vgrajeni Sistemi"]
	path = Vgrajeni Sistemi
	url = https://github.com/SimonPlazar/Vgrajeni-Sistemi.git
[submodule "Racunalniska Grafika"]
	path = Racunalniska Grafika
	url = https://github.com/SimonPlazar/Racunalniska-Grafika.git