[submodule "Algoritmi in Tehnike za Ucinkovito Resevanje Problemov"]
	path = Algoritmi in Tehnike za Ucinkovito Resevanje Problemov
	url = https://github.com/SimonPlazar/Algoritmi-in-Tehnike-za-Ucinkovito-Resevanje-Problemov.git
[submodule "Multimedija"]
	path = Multimedija
	url = https://github.com/SimonPlazar/Multimedija.git
[submodule "Snovanje Racunalniskih in Digitalnih Sistemov"]
	path = Snovanje Racunalniskih in Digitalnih Sistemov
	url = https://github.com/SimonPlazar/Snovanje-Racunalniskih-in-Digitalnih-Sistemov.git
[submodule "Preizkusanje Programske Opreme"]
	path = Preizkusanje Programske Opreme
	url = https://github.com/SimonPlazar/Preizkusanje-Programske-Opreme.git
[submodule "Vgrajeni Sistemi"]
	path = Vgrajeni Sistemi
	url = https://github.com/SimonPlazar/Vgrajeni-Sistemi.git
[submodule "Racunalniska Grafika"]
	path = Racunalniska Grafika
	url = https://github.com/SimonPlazar/Racunalniska-Grafika.git
[submodule "Aplikacije Racunalniskih Algoritmov"]
	path = Aplikacije Racunalniskih Algoritmov
	url = https://github.com/SimonPlazar/Aplikacije-Racunalniskih-Algoritmov.git
[submodule "Mrezno Usmerjeno Racunanje"]
	path = Mrezno Usmerjeno Racunanje
	url = https://github.com/SimonPlazar/Mrezno-Usmerjeno-Racunanje.git
[submodule "Operacijski Sistemi"]
	path = Operacijski Sistemi
	url = https://github.com/SimonPlazar/Operacijski-Sistemi.git
[submodule "Osnove Svetovnega Spleta"]
	path = Osnove Svetovnega Spleta
	url = https://github.com/SimonPlazar/Osnove-Svetovnega-Spleta.git
[submodule "Algoritmi in Podatkovne Strukture"]
	path = Algoritmi in Podatkovne Strukture
	url = https://github.com/SimonPlazar/Algoritmi-in-Podatkovne-Strukture.git
[submodule "Programiranje I"]
	path = Programiranje I
	url = https://github.com/SimonPlazar/Programiranje-I.git
[submodule "Programiranje II"]
	path = Programiranje II
	url = https://github.com/SimonPlazar/Programiranje-II.git
[submodule "Racunalniske Arhiktekture"]
	path = Racunalniske Arhiktekture
	url = https://github.com/SimonPlazar/Racunalniske-Arhiktekture.git
[submodule "Signali in Slike"]
	path = Signali in Slike
	url = https://github.com/SimonPlazar/Signali-in-Slike.git
[submodule "Sistemska Programska Oprema"]
	path = Sistemska Programska Oprema
	url = https://github.com/SimonPlazar/Sistemska-Programska-Oprema.git
[submodule "Umetna Inteligenca"]
	path = Umetna Inteligenca
	url = https://github.com/SimonPlazar/Umetna-Inteligenca.git
[submodule "Uvod v Racunalnisko Geometrijo"]
	path = Uvod v Racunalnisko Geometrijo
	url = https://github.com/SimonPlazar/Uvod-v-Racunalnisko-Geometrijo.git
[submodule "Interakcija Clovek-Racunalnik"]
	path = Interakcija Clovek-Racunalnik
	url = https://github.com/SimonPlazar/Interakcija-Clovek-Racunalnik.git
[submodule "Racunalniska Multimedija"]
	path = Racunalniska Multimedija
	url = https://github.com/SimonPlazar/Racunalniska-Multimedija.git
[submodule "Spletne Tehnologije"]
	path = Spletne Tehnologije
	url = https://github.com/SimonPlazar/Spletne-Tehnologije.git
[submodule "Izbrani Algoritmi"]
	path = Izbrani Algoritmi
	url = https://github.com/SimonPlazar/Izbrani-Algoritmi.git
[submodule "Domensko Specificni Modelirni Jeziki"]
	path = Domensko Specificni Modelirni Jeziki
	url = https://github.com/SimonPlazar/Domensko-Specificni-Modelirni-Jeziki
[submodule "Racunanje v Oblaku"]
	path = Racunanje v Oblaku
	url = https://github.com/SimonPlazar/Racunanje-v-Oblaku.git
[submodule "Povezljivi Sistemi in Inteligentne Storitve"]
	path = Povezljivi Sistemi in Inteligentne Storitve
	url = https://github.com/SimonPlazar/PSIS-TradingBot-MonoRepo.git
[submodule "Racunalniska Obdelava Signalov in Slik"]
	path = Racunalniska Obdelava Signalov in Slik
	url = https://github.com/SimonPlazar/Racunalniska-Obdelava-Signalov-in-Slik.git
[submodule "Jezikovne Tehnologije"]
	path = Jezikovne Tehnologije
	url = https://github.com/SimonPlazar/Jezikovne-Tehnologije.git
