[submodule "Algoritmi in Tehnike za Ucinkovito Resevanje Problemov"]
	path = Algoritmi in Tehnike za Ucinkovito Resevanje Problemov
	url = https://github.com/SimonPlazar/Algoritmi-in-Tehnike-za-Ucinkovito-Resevanje-Problemov.git
[submodule "Multimedija"]
	path = Multimedija
	url = https://github.com/SimonPlazar/Multimedija.git
